APP_NAME="Simply PHP"
APP_DESCRIPTION="The Simply-PHP Framework"
APP_KEY=
BASEURL=
SHOW_ERRORS=true
ERROR_HANDLER=simply
CACHE_VIEWS=false
DBENGINE=mysql
DBSERVER=localhost
DBNAME=simply
DBUSER=root
DBPASS=
CSP_POLICY="default-src 'self'"
RATE_LIMIT_MAX_ATTEMPTS=5
RATE_LIMIT_DECAY_SECONDS=60
