storage/logs/*.log
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
vendor/
Simply/
.idea/
node_modules/
composer.lock
.env